<h1><%=	t("projections.title")%></h1>

<div class="card card-outline-secondary">
	<div class="card-block text-secondary">
    <table class="table table-sm table-striped">
			<tbody>
				<tr>
					<td><%= label_tag("ini_saving",t("projections.ini_saving"))%></td>
					<td><%= "$" + params[:ini_saving] %></td>
				</tr>
				<tr>
					<td><%= label_tag("num_years_saving",t("projections.num_years_saving"))%></td>
					<td><%= params[:num_years_saving] %></td>
				</tr>
				<tr>
					<td><%= label_tag("monthly_saving",t("projections.monthly_saving"))%></td>
					<td><%= "$" + params[:monthly_saving] %></td>
				</tr>
				<tr>
					<td><%= label_tag("num_years_spending",t("projections.num_years_spending"))%></td>
					<td><%= params[:num_years_spending] %></td>
				</tr>
				<tr>
					<td><%= label_tag("monthly_spending",t("projections.monthly_spending"))%></td>
					<td><%= "$" + params[:monthly_spending] %></td>
				</tr>
				<tr>
					<td><%= label_tag("rf",t("projections.rf"))%></td>
					<td><%= params[:rf] + "%" %></td>
				</tr>
				<tr>
					<td><%= label_tag("exp_ann_ret",t("projections.exp_ann_ret"))%></td>
					<td><%= params[:exp_ann_ret] + "%" %></td>
				</tr>
				<tr>
					<td><%= label_tag("exp_ann_vol",t("projections.exp_ann_vol"))%></td>
					<td><%= params[:exp_ann_vol] + "%" %></td>
				</tr>
				<tr>
					<td><%= label_tag("num_sim",t("projections.num_sim"))%></td>
					<td><%= params[:num_sim] %></td>
				</tr>
			</tbody>
		</table>
  </div>
</div>

<br>
<div class="card card-outline-primary">
	<div class="card-header card-inverse card-primary">
    <h7><%= t("projections.saving") + "/" + t("projections.spending") %></h7>
 	</div>
 	<div class="card-block text-primary">
    <%= column_chart [{name: t("projections.saving"), data: @years_arr.zip(@sav_arr)}, {name: t("projections.spending"), data: @years_arr.zip(@sp_arr)}], download: true, legend: "bottom", xtitle: t("projections.year")   %>
  </div>
</div>

<br>
<div class="card card-outline-primary">
	<div class="card-header card-inverse card-primary">
    <h7><%= t("projections.cap_acc") %></h7>
 	</div>
 	<div class="card-block text-primary">
    <%= line_chart [{name: t("projections.rf"), data: @years_arr.zip(@cap_acc_rf)}, {name: t("projections.avg"), data: @years_arr.zip(@cap_acc_sim_avg)}, {name: t("projections.lmt_dwn"), data: @years_arr.zip(@cap_acc_sim_dwn)}, {name: t("projections.lmt_up"), data: @years_arr.zip(@cap_acc_sim_up)}], download: true, legend: "bottom", xtitle: t("projections.year")%>
  </div>
</div>

<br>
<div class="card card-outline-primary">
	<div class="card-header card-inverse card-primary">
    <h7><%= t("projections.pr_pos") %></h7>
 	</div>
 	<div class="card-block text-primary">
    <%= line_chart [{name: t("projections.pr_pos"), data: @years_arr.zip(@sim_arr_pos)}], download: true, legend: "bottom", xtitle: t("projections.year")%>
  </div>
</div>

<br>
<!-- <div class="card card-outline-warning">
	<div class="card-header card-inverse card-warning">
    <h7><%#= t("projections.rnd_ret") %></h7>
 	</div>
 	<div class="card-block text-warning">
    <%#= column_chart [{name: "Ret", data: @years_arr.zip(@rnd_ret)}], download: true, legend: "bottom", xtitle: t("projections.year") %>
  </div>
</div> -->

<br>
<div class="card card-outline-warning">
	<div class="card-header card-inverse card-warning">
    <h7><%= t("projections.sims") %></h7>
 	</div>
 	<div class="card-block text-warning">
 		<%= line_chart @sims2chart.insert(0,
 										{name: t("projections.lmt_dwn"), data: @years_arr.zip(@cap_acc_sim_dwn)}).insert(0,
 										{name: t("projections.lmt_up"), data: @years_arr.zip(@cap_acc_sim_up)}).insert(0,
 										{name: t("projections.avg"), data: @years_arr.zip(@cap_acc_sim_avg)}), 
 										colors:["red","green", "orange"], download: true, legend: false, xtitle: t("projections.year") %>
    <%#= line_chart [{name: t("projections.inv_sim"), data: @years_arr.zip(@sim_arr[0])},
    								{name: t("projections.avg"), data: @years_arr.zip(@cap_acc_sim_avg)}, 
    								{name: t("projections.lmt_dwn"), data: @years_arr.zip(@cap_acc_sim_dwn)}, 
    								{name: t("projections.lmt_up"), data: @years_arr.zip(@cap_acc_sim_up)}], download: true, legend: "bottom", xtitle: t("projections.year") %>
  </div>
</div>

<br>