<h1><%=	t("projections.title")%></h1>

<div class="card border-secondary">
	<div class="card-block text-secondary">
    <table class="table table-sm table-striped">
			<tbody>
				<tr>
					<td><%= label_tag("ini_saving",t("projections.ini_saving"))%></td>
					<td><%= "$ " + number_with_precision(session[:ini_saving].to_f, :precision => 0, :delimiter => ',') %></td>
				</tr>
				<tr>
					<td><%= label_tag("num_years_saving",t("projections.num_years_saving"))%></td>
					<td><%= session[:num_years_saving] %></td>
				</tr>
				<tr>
					<td><%= label_tag("yearly_saving",t("projections.yearly_saving"))%></td>
					<td><%= "$ " + number_with_precision(session[:yearly_saving].to_f, :precision => 0, :delimiter => ',') %></td>
				</tr>
				<tr>
					<td><%= label_tag("num_years_spending",t("projections.num_years_spending"))%></td>
					<td><%= session[:num_years_spending] %></td>
				</tr>
				<tr>
					<td><%= label_tag("yearly_spending",t("projections.yearly_spending"))%></td>
					<td><%= "$ " + number_with_precision(session[:yearly_spending].to_f, :precision => 0, :delimiter => ',') %></td>
				</tr>
				<tr>
					<td><%= label_tag("rf",t("projections.rf"))%></td>
					<td><%= session[:rf] + "%" %></td>
				</tr>
				<tr>
					<td><%= label_tag("exp_ann_ret",t("projections.exp_ann_ret"))%></td>
					<td><%= session[:exp_ann_ret] + "%" %></td>
				</tr>
				<tr>
					<td><%= label_tag("exp_ann_vol",t("projections.exp_ann_vol"))%></td>
					<td><%= session[:exp_ann_vol] + "%" %></td>
				</tr>
				<tr>
					<td><%= label_tag("num_sim",t("projections.num_sim"))%></td>
					<td><%= number_with_precision(session[:num_sim].to_f, :precision => 0, :delimiter => ',') %></td>
				</tr>
			</tbody>
		</table>
  </div>
</div>

<br>
<div class="card border-primary">
	<div class="card-header text-white bg-primary">
    <h7><%= t("projections.saving") + "/" + t("projections.spending") %></h7>
 	</div>
 	<div class="card-block text-danger">
    <%= column_chart [{name: t("projections.saving"), data: @years_arr.zip(@sav_arr)}, {name: t("projections.spending"), data: @years_arr.zip(@sp_arr)}], download: true, legend: "bottom", xtitle: t("projections.year")   %>
  </div>
</div>

<br>
<div class="card border-warning">
	<div class="card-header text-white bg-warning">
    <h7><%= t("projections.sims") %></h7>
 	</div>
 	<div class="card-block text-danger">
 		<%= line_chart @sims2chart.insert(0,
 										{name: t("projections.lmt_dwn"), data: @years_arr.zip(@cap_acc_sim_dwn)}).insert(0,
 										{name: t("projections.lmt_up"), data: @years_arr.zip(@cap_acc_sim_up)}).insert(0,
 										{name: t("projections.avg"), data: @years_arr.zip(@cap_acc_sim_avg)}), 
 										colors:["orange","green","red"],
 										download: true, legend: false,
 										xtitle: t("projections.year"),
 										library: { 
						            
							      }%>
  </div>
</div>

<br>
<div class="card border-success">
	<div class="card-header text-white bg-success">
    <h7><%= t("projections.cap_acc") %></h7>
 	</div>
 	<div class="card-block text-danger">
    <%= line_chart [{name: t("projections.rf"),
    								data: @years_arr.zip(@cap_acc_rf)},
    								{name: t("projections.avg"), data: @years_arr.zip(@cap_acc_sim_avg)},
    								{name: t("projections.lmt_dwn"), data: @years_arr.zip(@cap_acc_sim_dwn)},
    								{name: t("projections.lmt_up"), data: @years_arr.zip(@cap_acc_sim_up)}],
    								colors:["blue","orange","red","green"],
    								download: true, legend: "bottom",
    								xtitle: t("projections.year")%>
  </div>
</div>

<br>
<div class="card border-danger">
	<div class="card-header text-white bg-danger">
    <h7><%= t("projections.pr_pos") %></h7>
 	</div>
 	<div class="card-block text-danger">
    <%= line_chart [{name: t("projections.pr_pos"), data: @years_arr.zip(@sim_arr_pos)}], download: true, legend: "bottom", xtitle: t("projections.year")%>
  </div>
</div>

<br>