
<h1><%=	t("projections.title")%></h1>
<%= form_tag({:action => "calculate"}, :method => :get ) do %>
	
	<div class="card card-outline-primary">
		<div class="card-header card-inverse card-primary">
	    <h7><%= t("projections.savings_projection")%></h7>
	 	</div>
	 	<div class="card-block text-primary">
	    <table class="table">
				<tbody>
					<tr>
						<td><%= label_tag("ini_saving",t("projections.ini_saving"))%></td>
						<td><%= number_field_tag("ini_saving", 500000) %></td>
					</tr>
					<tr>
						<td><%= label_tag("num_years_saving",t("projections.num_years_saving"))%></td>
						<td><%= number_field_tag("num_years_saving", 10, in: 1.0..50.0, step: 1) %></td>
					</tr>
					<tr>
						<td><%= label_tag("monthly_saving",t("projections.monthly_saving"))%></td>
						<td><%= number_field_tag("monthly_saving", 10000, min: 1) %></td>
					</tr>
				</tbody>
			</table>
	  </div>
	</div>

	<div class="card card-outline-danger">
		<div class="card-header card-inverse card-danger">
	    <h7><%= t("projections.spendings_projection")%></h7>
	 	</div>
	 	<div class="card-block text-danger">
	    <table class="table">
				<tbody>
					<tr>
						<td><%= label_tag("num_years_spending",t("projections.num_years_spending"))%></td>
						<td><%= number_field_tag("num_years_spending", 15, in: 1.0..50.0, step: 1) %></td>
					</tr>
					<tr>
						<td><%= label_tag("monthly_spending",t("projections.monthly_spending"))%></td>
						<td><%= number_field_tag("monthly_spending", 15000, min: 1) %></td>
					</tr>
				</tbody>
			</table>
	  </div>
	</div>

	<div class="card card-outline-warning">
		<div class="card-header card-inverse card-warning">
	    <h7><%= t("projections.inv_param")%></h7>
	 	</div>
	 	<div class="card-block text-warning">
	    <table class="table">
				<tbody>
					<tr>
						<td><%= label_tag("rf",t("projections.rf") + " (%)")%></td>
						<td><%= number_field_tag("rf", 0) %></td>
					</tr>
					<tr>
						<td><%= label_tag("exp_ann_ret",t("projections.exp_ann_ret") + " (%)")%></td>
						<td><%= number_field_tag("exp_ann_ret", 5) %></td>
					</tr>
					<tr>
						<td><%= label_tag("exp_ann_vol",t("projections.exp_ann_vol") + " (%)")%></td>
						<td><%= number_field_tag("exp_ann_vol", 15, min: 0) %></td>
					</tr>
					<tr>
						<td><%= label_tag("num_sim",t("projections.num_sim"))%></td>
						<td><%= number_field_tag("num_sim", 10000, min: 1) %></td>
					</tr>
				</tbody>
			</table>
	  </div>
	</div>

	<%= submit_tag(t("projections.submit", class: "btn btn-success")) %>
<% end %>


