
<h1><%=	t("projections.title")%></h1>
<%= form_tag({:action => "create"}, :method => :post ) do %>

	<div class="card card-outline-primary">
		<div class="card-header card-inverse card-primary">
	    <h7><%= t("projections.savings_projection")%></h7>
	 	</div>
	 	<div class="card-block text-primary">
	    <table class="table">
				<tbody>
					<tr>
						<td><%= label_tag("ini_saving",t("projections.ini_saving"))%></td>
						<td><%#= number_field_tag("ini_saving", session[:ini_saving]?session[:ini_saving]:500000, step: :any, data: {autonumeric: true} ) %>
							<%= text_field_tag("ini_saving", session[:ini_saving]?session[:ini_saving]:500000, data: {autonumeric: {aSign: '$ ', mDec: 0, vMin: 0}} ) %>
						</td>
					</tr>
					<tr>
						<td><%= label_tag("num_years_saving",t("projections.num_years_saving"))%></td>
						<td><%= number_field_tag("num_years_saving", session[:num_years_saving]?session[:num_years_saving]:10, in: 0.0..50.0, step: 1) %></td>
					</tr>
					<tr>
						<td><%= label_tag("yearly_saving",t("projections.yearly_saving"))%></td>
						<td><%#= number_field_tag("yearly_saving", session[:yearly_saving]?session[:yearly_saving]:100000, min: 0, step: :any) %>
							<%= text_field_tag("yearly_saving", session[:yearly_saving]?session[:yearly_saving]:100000, data: {autonumeric: {aSign: '$ ', mDec: 0, vMin: 0}}) %>
						</td>
					</tr>
				</tbody>
			</table>
	  </div>
	</div>

	<div class="card card-outline-danger">
		<div class="card-header card-inverse card-danger">
	    <h7><%= t("projections.spendings_projection")%></h7>
	 	</div>
	 	<div class="card-block text-danger">
	    <table class="table">
				<tbody>
					<tr>
						<td><%= label_tag("num_years_spending",t("projections.num_years_spending"))%></td>
						<td><%= number_field_tag("num_years_spending", session[:num_years_spending]?session[:num_years_spending]:15, in: 0.0..50.0, step: 1) %></td>
					</tr>
					<tr>
						<td><%= label_tag("yearly_spending",t("projections.yearly_spending"))%></td>
						<td><%#= number_field_tag("yearly_spending", session[:yearly_spending]?session[:yearly_spending]:150000, min: 0, step: :any) %>
							<%= text_field_tag("yearly_spending", session[:yearly_spending]?session[:yearly_spending]:150000, data: {autonumeric: {aSign: '$ ', mDec: 0, vMin: 0}}) %>							
						</td>
					</tr>
				</tbody>
			</table>
	  </div>
	</div>

	<div class="card card-outline-warning">
		<div class="card-header card-inverse card-warning">
	    <h7><%= t("projections.inv_param")%></h7>
	 	</div>
	 	<div class="card-block text-warning">
	    <table class="table">
				<tbody>
					<tr>
						<td><%= label_tag("rf",t("projections.rf") + " (%)")%></td>
						<td><%= number_field_tag("rf", session[:rf]?session[:rf]:7.0, step: :any) %></td>
					</tr>
					<tr>
						<td><%= label_tag("exp_ann_ret",t("projections.exp_ann_ret") + " (%)")%></td>
						<td><%= number_field_tag("exp_ann_ret", session[:exp_ann_ret]?session[:exp_ann_ret]:10.0, step: :any) %></td>
					</tr>
					<tr>
						<td><%= label_tag("exp_ann_vol",t("projections.exp_ann_vol") + " (%)")%></td>
						<td><%= number_field_tag("exp_ann_vol", session[:exp_ann_vol]?session[:exp_ann_vol]:15.0, min: 0, step: :any) %></td>
					</tr>
					<tr>
						<td><%= label_tag("num_sim",t("projections.num_sim"))%></td>
						<td><%= number_field_tag("num_sim", session[:num_sim]?session[:num_sim]:10000, min: 1) %>
						</td>
					</tr>
				</tbody>
			</table>
	  </div>
	</div>
	<br>
	<div class="wrapper">
    <span class="group-btn"> 
      <%= button_tag(icon('calculator', t("projections.submit")), :class => "btn btn-success btn-md") %>   
    </span>
  </div>
	
<% end %>


