<!DOCTYPE html>
<html>
  <head>
    <title>CashFlowSims</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <div class="row">
    <%= render partial: "shared/navbar" %>
  </div>	
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

    <%= yield %>
  </div>

  <div> <center>&copy; 2017 M.G.</center></div>
  </body>
</html>
